<%- include('partials/header') %>

  <nav class="absolute top-0 left-0 right-0 z-30 max-w-[1300px] h-[90px] mx-auto px-4 flex justify-between items-center text-white">
    <a href="/" class="flex hover:cursor-pointer">
      <p class="text-2xl">alta<span class="text-3xl text-red-500">GAMA</span>cars</p>
    </a>
    
    <div class="flex items-center space-x-2"> 
      <a href="#" class="relative">
        <img class='[25px] h-[25px]' src="../images/cart-icon.png" alt="Cart">
        <div class="p-3 absolute -right-2 -top-2 bg-blue-500/90 rounded-full  h-[17px] w-[17px] flex items-center justify-center">          
        </div>
      </a>
      <a class='text-xl font-bold hover:text-gray-600' href="/logout">
        <div class='w-[45px] h-[45px] duration-300 flex justify-center items-center'>
          <img class='w-[25px] h-[25px]' src="../images/close-session.png" alt="Close">
        </div>
      </a>
      <% if (user.isAdmin === 'S') { %>        
        <a href="#">
          <img class='w-[50px] h-[50px] object-contain' src="../images/profile.png" alt="Profile">
        </a>
      <% } %>
    </div>
  </nav>

  <div class="relative w-full h-[430px]">
    <p id="prod_id" class="hidden"><%= producto._id %> </p>
    <p id="prod_desc" class="hidden"><%= producto.descripcion %> </p>
    <p id="prod_codigo" class="hidden"><%= producto.codigo %> </p>
    <p id="prod_stock" class="hidden"><%= producto.stock %> </p>
    <img id="prod_foto" class="w-full h-full object-cover" src="<%= producto.foto %> " alt="<%= producto.nombre %> ">
    <div class="absolute top-0 left-0 w-full h-full bg-black/40"></div>
    <div class="absolute top-0 left-0 right-0 z-20 max-w-[1300px] h-full mx-auto flex items-center justify-start">
      <p id="prod_nombre" class="font-['Poppins'] text-white text-6xl font-bold"><%= producto.nombre %> </p>      
    </div>
    <div class="absolute bottom-0 left-0 h-[80px] w-full bg-gradient-to-t from-gray-600  to-transparent"></div>
  </div>

  <div class="max-w-[1300px] mx-auto px-4 py-1 text-white font-['Poppins']">
    <p class="text-3xl py-2">Características</p>
    <div class="py-2 w-full grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="text-black bg-white border-2 border-white p-3 flex items-center rounded-lg space-x-5 shadow-lg hover:shadow-xl">
        <img class="h-[60px]" src="https://cdn-icons-png.flaticon.com/512/1104/1104342.png" alt="Chasis">
        <p class="text-lg font-bold">Carrocería: <%= producto.caracteristicas.carroceria %> </p>
      </div>
      <div class="text-black bg-white border-2 border-white p-3 flex items-center rounded-lg space-x-5 shadow-lg hover:shadow-xl">
        <img class="h-[60px]" src="https://cdn-icons-png.flaticon.com/512/4404/4404656.png" alt="Chasis">
        <p class="text-lg font-bold">Puertas: <%= producto.caracteristicas.puertas %> </p>
      </div>
      <div class="text-black bg-white border-2 border-white p-3 flex items-center rounded-lg space-x-5 shadow-lg hover:shadow-xl">
        <img class="h-[60px]" src="https://cdn-icons-png.flaticon.com/512/1184/1184097.png" alt="Chasis">
        <p class="text-lg font-bold">Potencia: <%= producto.caracteristicas.potencia %> </p>
      </div>
      <div class="text-black bg-white border-2 border-white p-3 flex items-center rounded-lg space-x-5 shadow-lg hover:shadow-xl">
        <img class="h-[60px]" src="https://cdn-icons-png.flaticon.com/512/5102/5102957.png" alt="Chasis">
        <p class="text-lg font-bold">Plazas: <%= producto.caracteristicas.plazas %> </p>
      </div>
    </div>

    <div class="w-full py-12 flex items-center space-x-12">
      <p id="prod_precio" class="text-3xl">Precio ($): <%= producto.precio %> </p>
      <div class="w-[15%]">
        <input id="btn_add" class='w-full bg-white text-black hover:bg-black hover:text-white hover:shadow-xl duration-300 rounded-lg py-2 hover:cursor-pointer' type="submit" value="Añadir al Carrito">
      </div> 
    </div> 

  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>     
  <script>
      let btn_add = document.getElementById('btn_add');
      btn_add.addEventListener('click', addToCart);

      async function addToCart(event) {
        let prod_id = document.getElementById('prod_id').innerText;
        let prod_foto = document.getElementById('prod_foto').src;
        let prod_nombre = document.getElementById('prod_nombre').innerText;
        let prod_precio = parseFloat(document.getElementById('prod_precio').innerText.replace('Precio ($):',''));
        let prod_desc = document.getElementById('prod_desc').innerText;
        let prod_codigo = document.getElementById('prod_codigo').innerText;
        let prod_stock = parseInt(document.getElementById('prod_stock').innerText);    

        let producto = { 
          product_id: prod_id,
          quantity: 1,
          price: prod_precio,
          nombre: prod_nombre,
          descripcion: prod_desc,
          codigo: prod_codigo,
          foto: prod_foto,
          stock: prod_stock
        }

        let response = await fetch('/api/carrito', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json'
          }, 
          body: JSON.stringify({producto}) 
        });
        let data = await response.json();
        
        if(data.status === 'OK') {          
          swal(prod_nombre, "¡añadido al carrito!", "success", {
            button: "Aceptar",
          });
        }      
      }
  </script>
  </body>
</html>  


